.loading {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 72px;
    z-index: 30;
}

.loading > div {
    height: 300px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
}

.loading .logo {
    width: 130px;
    height: 92px;
}

.loading .loader {
    background-image: url('../../img/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    width: 128px;
    height: 128px;
}