.topbar {
    position: fixed;
    top: 0;
    margin: 0 auto;

    width: 100%;
    max-width: 600px;
    height: 80px;
    padding: 0 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.topbar .logo {
    width: 75px;
}

.topbar ion-icon {
    font-size: 40px;
}